@media screen and (max-width:767px) {
    .adress-tag {
        width:100%;
    }
    .information {
        align-items:center;
        margin-top:0px;
        flex-direction:column;
    }
    .titre {
        font-size:18px;
        line-height:25px;
    }
    .adresse {
	font-size:14px;
    }
    .caroussel .slider {
        width:100%;
        height:265px;
    }
    .slider {
        width:100%;
    }
    .caroussel .droite {
        right:15%;
    }
    .caroussel .gauche {
        left:15%;
    }
    .agent p {
	font-size: 12px;
    }

    .agent img {
	width: 32px;
	height: 32px;
    }
    .agent-note {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .note {
        justify-content: normal;
	margin:0px 1px 0px 1px;
    }
    .description-equippement {
        flex-direction: column;
    }
    .description {
        width: 100%;
    }
    .equipement {
        width:100%;
    }
    .tag {
        flex-wrap: nowrap;
    }
    .tag p {
        padding:3px 5px 2px 5px;
        font-size:10px;
    }
    .rate {
	width:98px;
	height:18px;
    }
    .rate i {
	font-size:14px;
	width:15px;
	heigth:15px;
    }
}