@media screen and (max-width:767px) {
    .section {
        height:112px;
        margin-bottom: 0px;
    }
    .imageSection1 {        
        width: 100%;
        height: 111px;
        object-fit: cover;      
    }
    .punchline {
        font-size: 20px;
        line-height: 26px;
        display:block;
        text-align: left;
        width:185px;
        left:36px;
        bottom:72%;
    }
}
