@media screen and (max-width:767px) {
    .Card{
        background:white;
        width:100%;
        padding:0px;
    }
    .Card li {
        width:100%;
        height:185px;
        margin-bottom: 20px;
    }
    .Card li img {
        width:100%;
        height:185px;
    }
    .Card li p {
        bottom:35%;
    }
}